# custom configuration
custom.yml
etc/custom*.yml

# external roles from ansible-galaxy
roles/andrewrothstein.*
roles/geerlingguy.*
roles/ANXS.*
roles/ansible-role-supervisor
roles/jdauphant.ssl-certs
roles/nginxinc.nginx
roles/arillso.logrotate

# ansible collections
ansible_collections/

# Sphinx docs
docs/build

# temp files
*.retry
*.log
out.xml
caps.xml

# Vagrant
.vagrant

# Shared local folder
.local

# Tests
tests/test.sh

# CEDA submodule for local modifcations
ansible-birdhouse-content
