# custom configuration
custom.yml

# external roles from ansible-galaxy
roles/andrewrothstein.*
roles/geerlingguy.*
roles/ansible-role-supervisor

# temp files
*.retry
*.log
out.xml
caps.xml

# Vagrant
.vagrant

# Tests
tests/test.sh
