# custom configuration
custom.yml

# external roles from ansible-galaxy
roles/andrewrothstein.bash
roles/andrewrothstein.miniconda
roles/andrewrothstein.unarchive-deps

# temp files
*.retry
out.xml
caps.xml
