---
# This Ansible playbook is used to deploy a PyWPS application.
- name: Install a PyWPS application
  hosts: all
  become: yes

  pre_tasks:
    - name: Include vars from custom.yml if found
      include_vars: "{{ item }}"
      with_first_found:
       - custom.yml
       - null.yml
  roles:
    - role: geerlingguy.repo-epel
      when: ansible_os_family == "RedHat"
    - common
    - role: andrewrothstein.miniconda
      miniconda_parent_dir: "{{ prefix }}"
      miniconda_make_sys_default: False
      tags:
        miniconda
    - role: geerlingguy.supervisor
      tags:
        supervisor
    - role: geerlingguy.nginx
      nginx_user: "{{ wps_user }}"
      nginx_remove_default_vhost: True
      tags:
        nginx
    - pywps
