---
# This Ansible playbook is used to deploy a PyWPS application.
- name: Install a PyWPS application
  hosts: all
  become: yes

  vars_files:
    - vars/main.yml

  pre_tasks:
    - name: Include vars from custom.yml if found
      include_vars: "{{ item }}"
      with_first_found:
       - custom.yml
       - null.yml
  roles:
    - role: geerlingguy.repo-epel
      when: ansible_os_family == "RedHat"
    - common
    - role: andrewrothstein.miniconda
      tags:
        conda
    - role: geerlingguy.supervisor
      tags:
        supervisor
    - role: geerlingguy.nginx
      tags:
        nginx
    - role: geerlingguy.postgresql
      when: db_install_postgresql
      tags:
        db
    - pywps
