bind = 'unix://{{ wps_run_dir }}/{{ item.name }}.sock'
workers = 3
worker_class = 'sync'

# environment
raw_env = [
  "PYWPS_CFG=/etc/pywps/{{ item.name }}.cfg",
{% if item.environment is defined %}
{% for key, value in item.environment.items() %}
  "{{ key }}={{ value }}",
{% endfor %}
{% endif %}
]

# logging
accesslog = '-'
errorlog = '-'
loglevel = 'INFO'
capture_output = True
