bind = 'unix://{{ wps_run_dir }}/{{ item.name }}.sock'
workers = {{ gunicorn_workers }}
worker_class = '{{ gunicorn_worker_class }}'
timeout = {{ gunicorn_timeout }}

# environment
raw_env = [
  "PYWPS_CFG=/etc/pywps/{{ item.name }}.cfg",
  "ROOCS_CONFIG=/etc/roocs.ini",
{% if item.environment is defined %}
{% for key, value in item.environment.items() %}
  "{{ key }}={{ value }}",
{% endfor %}
{% endif %}
]

# logging
accesslog = '-'
errorlog = '-'
loglevel = 'INFO'
capture_output = True
