#
# Ansible managed
#

/var/log/pywps/*.log {
    rotate {{ wps_logrotate_rotations }}
    daily
    minsize {{ wps_logrotate_min_size }}
    dateext
    copytruncate
    missingok
    notifempty
    sharedscripts
}
