#
# Ansible managed
#

/var/log/pywps/*.log {
    rotate {{ pywps_logrotate_rotations }}
    daily
    minsize {{ pywps_logrotate_min_size }}
    dateext
    copytruncate
    missingok
    notifempty
    sharedscripts
}
