#
# Ansible managed
#

/var/log/pywps/*.log {
    rotate {{ wps_logrotate_rotations }}
    daily
    minsize {{ wps_logrotate_min_size }}
    dateext
    copytruncate
    missingok
    notifempty
    sharedscripts
}

/var/log/pywps/*-events.jsonl {
    rotate {{ wps_tools_event_keep_days }}
    daily
    maxage {{ wps_tools_event_keep_days }}
    dateext
    compress
    delaycompress
    copytruncate
    missingok
    notifempty
}
