[server]
processes = {{ item.name }}.processes.processes
{% if wps_enable_https %}
{% set _protocol = 'https' %}
{% else %}
{% set _protocol = 'http' %}
{% endif %}
url = {{ _protocol }}://{{ item.hostname | default('localhost') }}:{{ item.port }}/wps
{% if fs_enabled %}
{% set _fs_host = fs_host %}
{% set _fs_port = fs_port %}
{% set _fs_protocol = 'http' %}
{% else %}
{% set _fs_host = item.fs_hostname | default(item.hostname) %}
{% set _fs_port = item.port %}
{% set _fs_protocol = _protocol %}
{% endif %}
{% set _outputurl = '{0}://{1}:{2}/outputs/{3}'.format(_fs_protocol, _fs_host, _fs_port, item.name) %}
outputurl = {{ item.outputurl | default(_outputurl) }}
allowedinputpaths = /
maxsingleinputsize = {{ item.maxsingleinputsize | default('200mb') }}
maxrequestsize = {{ item.maxrequestsize | default('200mb') }}
maxprocesses = {{ item.maxprocesses | default('30') }}
parallelprocesses = {{ item.parallelprocesses | default('10') }}
outputpath= /var/lib/pywps/outputs/{{ item.name }}
workdir=/var/lib/pywps/tmp/{{ item.name }}
sethomedir={{ item.sethomedir | default('false') }}

[logging]
level = {{ item.log_level | default('INFO') }}
file = /var/log/pywps/{{ item.name }}.log
{% if db_install_sqlite %}
database = sqlite:////var/lib/pywps/db/{{ item.name }}_log.db
{% else %}
database = {{ item.database | default(wps_database) }}
{% endif %}
format = %(asctime)s] [%(levelname)s] %(message)s

{% if item.extra_config is defined %}
{{ item.extra_config }}
{% endif %}

[jobqueue]
pause = 5
