[metadata:main]
identification_title=PyWPS 4.x service {{ wps_name }}
identification_abstract=Web Processing Service 1.0.0 using PyWPS 4.x for climate science.
identification_keywords=PyWPS,WPS,OGC,processing,Birdhouse
identification_keywords_type=theme
identification_fees=NONE
identification_accessconstraints=NONE
provider_name={{ wps_name }}
provider_url={{ wps_repo }}
contact_name=Lastname, Firstname
contact_position=Position Title
contact_address=Mailing Address
contact_city=
contact_stateorprovince=Administrative Area
contact_postalcode=Zip or Postal Code
contact_country=
contact_phone=+xx-xxx-xxx-xxxx
contact_fax=+xx-xxx-xxx-xxxx
contact_email=Email Address
contact_url=Contact URL
contact_hours=0:00-24:00
contact_instructions=During hours of service. Off on weekends.
contact_role=pointOfContact

[server]
url={{ wps_url }}
outputurl={{ wps_outputurl }}
outputpath={{ wps_outputpath }}
workdir={{ wps_workdir }}
maxsingleinputsize=30mb
maxrequestsize=30mb
maxprocesses=30
parallelprocesses=10

[logging]
level={{ wps_log_level }}
file={{ wps_log_file }}
database={{ wps_database }}
format=%(asctime)s] [%(levelname)s] %(message)s
