{% set _app = item.app | default(item.name+":application") %}
[program:{{ item.name }}]
user={{ wps_user }}
command={{ conda_envs_dir}}/{{ item.name }}/bin/gunicorn -c /etc/gunicorn/{{ item.name }}.py {{ _app }}
autostart=true
autorestart=false
directory={{ src_dir }}/{{ item.name }}
redirect_stderr=true
stdout_logfile=/var/log/supervisor/{{ item.name }}.log
killasgroup=false
stopasgroup=false

[program:{{ item.name }}_queue]
user={{ wps_user }}
environment=PYWPS_CFG="/etc/pywps/{{ item.name }}.cfg"
command={{ conda_envs_dir}}/{{ item.name }}/bin/pywps jobqueue
autostart=true
autorestart=false
directory={{ src_dir }}/{{ item.name }}
redirect_stderr=true
stdout_logfile=/var/log/supervisor/{{ item.name }}_queue.log
killasgroup=false
stopasgroup=false
