[program:{{ item.name }}]
user={{ wps_user }}
command=bash run.sh
autostart=true
autorestart=false
directory={{ src_dir }}/{{ item.name }}
redirect_stderr=true
stdout_logfile=/var/log/supervisor/{{ item.name }}.log
killasgroup=false
stopasgroup=false
