---
- name: Create Conda environment from environment file.
  command: "{{ conda_bin }} env update -p {{ conda_envs_dir}}/{{ item.name }}"
  args:
    chdir: "{{ src_dir }}/{{ item.name }}"
  with_items: "{{ wps_services }}"
  when: not conda_env_use_spec
  register: conda_env
  tags:
    - pywps
    - conda

- name: Install WPS package.
  command: "{{ conda_envs_dir}}/{{ item.name }}/bin/pip install ."
  args:
    chdir: "{{ src_dir }}/{{ item.name }}"
  with_items: "{{ wps_services }}"
  when: conda_env.changed
  tags:
    - pywps
    - conda

- name: Install additional Conda packages.
  command: "{{ conda_envs_dir}}/{{ item.name }}/bin/pip install gunicorn psycopg2-binary drmaa dill"
  with_items: "{{ wps_services }}"
  when: conda_env.changed
  tags:
    - pywps
    - conda

- name: Remove Conda environment.
  command: "{{ conda_location }}/bin/conda env remove -q -y -p {{ conda_envs_dir}}/{{ item.name }}"
  with_items: "{{ wps_services }}"
  when: conda_env_use_spec
  tags:
    - pywps
    - conda

- name: Create Conda environment from spec-file.txt file.
  command: "{{ conda_location }}/bin/conda create --file {{ conda_env_spec_file }} -p {{ conda_envs_dir}}/{{ item.name }}"
  args:
    chdir: "{{ src_dir }}/{{ item.name }}"
  with_items: "{{ wps_services }}"
  when: conda_env_use_spec
  tags:
    - pywps
    - conda
