---
- name: Copy tmpfiles.d config
  template:
    src: ./templates/tmpfiles.config.j2
    dest: "/usr/lib/tmpfiles.d/pywps.conf"
  tags:
    - pywps
    - conf

- name: Copy pywps config
  template:
    src: ./templates/pywps.cfg.j2
    dest: "/etc/pywps/{{ item.name }}.cfg"
  with_items:
    - "{{ wps_services }}"
  tags:
    - pywps
    - conf

- name: Copy roocs demo config
  template:
    src: ./templates/roocs.demo.ini.j2
    dest: "/etc/roocs.ini"
  tags:
    - roocs
    - conf
  when: demo

- name: Copy roocs production config
  template:
    src: "./templates/roocs.{{ site }}.ini.j2"
    dest: "/etc/roocs.ini"
  tags:
    - roocs
    - conf
  when: not demo
