---
- name: Clean up cron files managed by ansible
  file:
    path: "/etc/cron.d/{{ item }}"
    state: absent
  with_items:
    - ansible_pywps

- name: Add MAILTO to cron file
  community.general.cronvar:
    name: MAILTO
    value: "{{ cron_mailto }}"
    cron_file: ansible_pywps

- name: Clear wps outputs
  cron:
    name: "clear wps outputs"
    special_time: hourly
    user: "{{ cron_user }}"
    job: 'find {{ wps_basedir }}/outputs/* -maxdepth 1 -type d -mtime +{{ wps_outputs_keep_days }} -regextype sed -regex ".*/[a-f0-9\-]\{36\}$" -exec rm -rf {} \;'
    cron_file: ansible_pywps
    disabled: not {{ cron_enabled }}
    state: present

- name: Clear wps status
  cron:
    name: "clear wps status"
    special_time: hourly
    user: "{{ cron_user }}"
    job: 'find {{ wps_basedir }}/outputs/* -maxdepth 1 -type f -mtime +{{ wps_outputs_keep_days }} -regextype sed -regex ".*/[a-f0-9\-]\{36\}\.xml$" -delete'
    cron_file: ansible_pywps
    disabled: not {{ cron_enabled }}
    state: present

- name: Clear wps tempfiles
  cron:
    name: "clear wps tempfiles"
    special_time: hourly
    user: "{{ cron_user }}"
    job: 'find {{ wps_basedir }}/tmp/* -maxdepth 1 -type d -mtime +{{ wps_temp_keep_days }} -name "pywps_process_*" -exec rm -rf {} \;'
    cron_file: ansible_pywps
    disabled: not {{ cron_enabled }}
    state: present

- name: Ensure cron script dir exists
  file:
    path: "{{ cron_script_dir }}"
    state: directory
    owner: root
    mode: 0755

- name: Copy restart script
  template:
    src: ./templates/restart-pywps.sh.j2
    dest: "{{ cron_script_dir }}/restart-pywps.sh"
    owner: root
    mode: 0744

- name: Restart pywps service and clean out old gunicorn processes every night
  cron:
    name: "restart pywps"
    # weekday: "0"
    minute: "0"
    hour: "3"
    user: root
    job: "{{ cron_script_dir }}/restart-pywps.sh {{ item.name }} 2>&1 > /var/log/pywps/restart-{{ item.name }}.log"
    cron_file: ansible_pywps
    disabled: not {{ cron_enabled }}
    state: present
  with_items:
    - "{{ wps_services }}"

- name: Copy smoke test script
  template:
    src: ./templates/smoke.sh.j2
    dest: "{{ cron_script_dir }}/smoke.sh"
    owner: root
    mode: 0744
