[project:cmip5]
base_dir = /mnt/lustre01/work/kd0956/CMIP5/data/cmip5
use_inventory = False

[project:cmip6]
base_dir = /mnt/lustre02/work/ik1017/CMIP6/data/CMIP6
use_inventory = False

[project:cordex]
base_dir = /mnt/lustre02/work/ik1017/CORDEX/data/cordex
use_inventory = False

[project:c3s-cmip5]
base_dir = /mnt/lustre02/work/ik1017/C3SCMIP5/data/c3s-cmip5

[project:c3s-cmip6]
base_dir = /mnt/lustre02/work/ik1017/CMIP6/data/CMIP6

[project:c3s-cordex]
base_dir = /mnt/lustre02/work/ik1017/C3SCORDEX/data/c3s-cordex
