[project:cmip5]
base_dir = /mnt/lustre01/work/kd0956/CMIP5/data/cmip5
use_inventory = False

[project:cmip6]
base_dir = /mnt/lustre02/work/ik1017/CMIP6/data/CMIP6
use_inventory = False
data_node_root = http://esgf3.dkrz.de/thredds/fileServer/cmip6/

[project:cordex]
base_dir = /mnt/lustre02/work/ik1017/CORDEX/data/cordex
use_inventory = False

[project:c3s-cmip5]
base_dir = /mnt/lustre02/work/ik1017/C3SCMIP5/data/c3s-cmip5
use_catalog = False

[project:c3s-cmip6]
base_dir = /mnt/lustre02/work/ik1017/CMIP6/data/CMIP6

[project:c3s-cordex]
base_dir = /mnt/lustre02/work/ik1017/C3SCORDEX/data/c3s-cordex

[dachar:store]
store_type = elasticsearch

[elasticsearch]
endpoint = elasticsearch.ceda.ac.uk
port = 443
fix_store = c3s-roocs-fix
fix_proposal_store = c3s-roocs-fix-prop

[catalog]
intake_catalog_url = https://raw.githubusercontent.com/cp4cds/c3s_34g_manifests/master/intake/catalogs/c3s.yaml
