[project:cmip5]
base_dir = /badc/cmip5/data/cmip5
use_inventory = False

[project:cmip6]
base_dir = /badc/cmip6/data/CMIP6
use_inventory = False

[project:cordex]
base_dir = /badc/cordex/data/cordex
use_inventory = False

[project:c3s-cmip5]
base_dir = /gws/nopw/j04/cp4cds1_vol1/data/c3s-cmip5

[project:c3s-cmip6]
base_dir = /badc/cmip6/data/CMIP6

[project:c3s-cordex]
base_dir = /gws/nopw/j04/cp4cds1_vol1/data/c3s-cordex

[clisops:write]
output_staging_dir = /gws/smf/j04/cp4cds1/c3s_34e/rook_prod_cache

