[project:cru_ts]
base_dir = /badc/cru/data/cru_ts
file_name_template = {__derive__var_id}_{frequency}_{__derive__time_range}.{__derive__extension}
fixed_path_mappings =
    cru_ts.4.04.cld:cru_ts_4.04/data/cld/*.nc
    cru_ts.4.04.dtr:cru_ts_4.04/data/dtr/*.nc
    cru_ts.4.04.frs:cru_ts_4.04/data/frs/*.nc
    cru_ts.4.04.pet:cru_ts_4.04/data/pet/*.nc
    cru_ts.4.04.pre:cru_ts_4.04/data/pre/*.nc
    cru_ts.4.04.tmn:cru_ts_4.04/data/tmn/*.nc
    cru_ts.4.04.tmp:cru_ts_4.04/data/tmp/*.nc
    cru_ts.4.04.tmx:cru_ts_4.04/data/tmx/*.nc
    cru_ts.4.04.vap:cru_ts_4.04/data/vap/*.nc
    cru_ts.4.04.wet:cru_ts_4.04/data/wet/*.nc
attr_defaults =
    frequency:mon
facet_rule = project version_major version_minor variable

[clisops:write]
#output_staging_dir = /gws/smf/j04/cp4cds1/c3s_34e/rook_prod_cache

