[program:twitcher]
user={{ twitcher_user }}
command={{ conda_envs_dir }}/twitcher/bin/gunicorn --paste {{ twitcher_ini }}
autostart=true
autorestart=true
directory=/var/lib/twitcher
redirect_stderr=true
stdout_logfile=/var/log/supervisor/twitcher.log
killasgroup=false
stopasgroup=false
